* {
    margin: 0;
    padding: 0;
}

.navBtn1 {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(191, 252, 100);
}

.navBtn1.animateTen2 {
    animation: scaleUp 2s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.navBtn2 button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.navBtn2.animateTen1 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navBtn2 button:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(158, 235, 44);
}

.navBtn2 {
    display: flex;
    gap: 20px;
}

.navBtn3 button {
    width: 170px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(191, 252, 100);
}

.navBtn3 button:hover {
    background-color: rgb(197, 236, 139);
    cursor: pointer;
}

.navBtn3 button.animateTen3 {
    animation: scaleUp 2s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.navbar {
    display: flex;
    gap: 220px;
    background: linear-gradient(90deg, rgb(0, 14, 0), rgba(63, 63, 63, 0.5)), url("./images/cow6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 1400px;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    justify-content: center;
}

.image1 {
    padding-top: 90px;
    position: relative;

}

.image1 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(191, 252, 100);
}

.img1 {
    position: absolute;
    z-index: 1;
    overflow: hidden;

}

.img2 {
    position: absolute;
    left: 20px;
    overflow: hidden;
}

.img3 {
    position: absolute;
    left: 40px;
    z-index: 1;
    overflow: hidden;
}

.img4 {
    position: absolute;
    left: 60px;
    z-index: 1;
}

.img5 {
    position: absolute;
    width: 290px;
    background-color: rgb(191, 252, 100);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    text-align: center;
    padding-left: 27px;
    left: 60px;
    font-weight: bold;
}

.img5 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.happy {
    padding-top: 60px;
    font-size: 75px;
    font-weight: bold;
    color: white;
}

.happy.animateTen5 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 span {
    color: rgb(191, 252, 100);
}

h1 span.animateTen6 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.from {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    padding-top: 30px;
    font-size: 15px;
    color: rgb(143, 142, 142);
}

.from.animateTen7 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.order {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.order.animateTen8 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ord1 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: rgb(136, 134, 134);
}

.ord1.animateTen9 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.buy {
    width: 170px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 7px;
    background-color: rgb(191, 252, 100);
    font-weight: bold;
    margin-top: 15px;
}

.buy.animateTen10 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 3s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.how {
    width: 130px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid rgb(191, 252, 100);
    border-radius: 7px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    background-color: transparent;
    color: rgb(191, 252, 100);
}

.how.animateTen11 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.box1 {
    width: 370px;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 20px;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    box-shadow: green;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.4);


}

.box1.animateTen12 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.box11 {
    display: flex;
    justify-content: left;
}

.box11.animateTen13 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbody {
    background: linear-gradient(90deg, rgb(0, 14, 0), rgba(63, 63, 63, 0.5)), url("./images/cow1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;

}

.navbody2 {
    padding-left: 60px;
    padding-top: 40px;
}

.navbody2.animateTen14 {
    animation: scaleUp 2s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.stock1 {
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 37, 1);
}

.stock1.animateTen15 {
    animation: scaleUp 2s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }

}

.stock2 {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.stock2.animateTen16 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.stock2 span {
    color: rgb(158, 235, 44);
}

.with {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 14px;

}

.with.animateTen17 {
    animation: scaleUp 2s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.boxp1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(158, 235, 44);
    font-size: 15px;
    text-align: center;
    border-radius: 9px;
    font-size: 13px;
}

.boxp1.animateTen62 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.boxp2 {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}

.boxp2.animateTen63 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.boxp3 {
    width: 290px;
}

.boxp4 {
    padding-top: 15px;
    font-size: 23px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.boxp5 {
    width: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-color: rgb(158, 235, 44);
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.boxp5.animateTen18 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.boxp6 {
    display: flex;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 10px;
    color: rgb(1, 36, 1);
}

.boxp {
    width: 320px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 12px;
    border: 1px solid black;
}

.boxp.animateTen20 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.boxp7 {
    width: 320px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 12px;
    background-color: rgb(1, 37, 1);
    color: white;

}

.boxp7.animateTen19 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.boxp1 {
    color: black;
}

.boxp61 {
    display: flex;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 10px;
    color: white;
}

.boxp61.animateTen20 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.boxxp {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.trad {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.trad.animateTen21 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.trad2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 15px;
    color: rgb(1, 37, 1);
}

.trad2.animateTen22 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.trad3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.trad3.animateTen23 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.trad4 {
    width: 180px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    margin-top: 16px;
    border: none;
    font-weight: bold;
    background-color: rgb(158, 235, 44);
}

.trad4.animateTen24 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.trad5 {
    display: flex;
    gap: 110px;
    justify-content: center;
    padding-top: 80px;
}

.icon1 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.icon1 img.animateTen25 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon1 {
    background-color: rgb(158, 235, 44);
    width: 40px;
    text-align: center;
    padding-top: 3px;
    border-radius: 50%;
}

.icon1.animateTen26 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 80px;
}

.icon2.animateTen27 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon3 {
    font-size: 13px;
    padding-top: 10px;
    color: rgb(182, 178, 178);
}

.icon3.animateTen28 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon4 {
    width: 340px;
    background: linear-gradient(360deg, rgb(1, 54, 1), rgba(59, 59, 59, 0.5)), url("./images/herds1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
}

.icon4.animateTen29 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon5 {
    width: 340px;
    background: linear-gradient(360deg, rgb(1, 54, 1), rgba(59, 59, 59, 0.5)), url("./images/beef2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
}

.icon5.animateTen30 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon6 {
    width: 340px;
    background: linear-gradient(360deg, rgb(1, 54, 1), rgba(59, 59, 59, 0.5)), url("./images/herds6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
}

.icon6.animateTen31 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon7 {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.icon7.animateTen32 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bodyVideop1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;

}

.bobyVideop1.animateTen57 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bodyVideop1 span {
    color: rgb(158, 235, 44);
}

.bodyVideop2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    color: rgb(209, 207, 207);
}

.bodyVideop2.animateTen58 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bodyVideo1 {
    background-color: rgb(1, 37, 1);
    padding-top: 90px;
    padding-bottom: 100px;

}

.bodyVideo1.animateTen59 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bodyVideop3 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.bodyVideop3 {
    background-color: rgb(158, 235, 44);
    width: 70px;
    text-align: center;
    padding-top: 3px;
    border-radius: 50%;
    position: absolute;
    left: 1040px;
    top: -7px;
}

.bodyVideop5 video {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.bodyVideop4 {
    display: flex;
    justify-content: center;
    height: 240px;
    background-color: rgb(1, 37, 1);

}

.bodyVideop4.animateTen60 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.bodyVideop5 {
    position: relative;
}

.bodyVideop6 {
    position: relative;
}

.test {
    padding-top: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.test.animateTen61 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.test2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;

}

.test2.animateTen33 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.visi1 {
    display: flex;
    justify-content: center;
}

.test3 button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}

.test3 button.animateTen52 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.test3 button:hover {
    background-color: rgb(158, 235, 44);
    border: none;
}

.test3 {
    display: flex;
    gap: 20px;
    justify-content: end;
    padding-top: 10px;
    padding-right: 30px;
    padding-top: 10px;
}

.star {
    color: rgb(158, 235, 44);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.star.animateTen53 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.starImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.starImg.animateTen54 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.star2 {
    display: flex;
    gap: 10px;
    padding-top: 25px;
}

.star2 p {
    font-weight: bold;
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.star2 p.animateTen55 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.visi5 {
    display: flex;
    justify-content: center;
}

.slide-container {
    margin-bottom: 60px;
}

.review {
    display: flex;
    position: relative;
    padding-top: 20px;
    margin-left: 30px;
    overflow: hidden;
    height: 200px;


}

.boxxx {
    position: absolute;
    transition: left 0.5s;


}

.boxxx.animateTen56 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#boxx1 {
    width: 310px;
    border: 1px solid rgb(184, 182, 182);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    left: 0%;


}

#boxx1.animateTen34 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#boxx2 {
    width: 310px;
    border: 1px solid rgb(184, 182, 182);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    left: 340px;
}

#boxx2.animateTen34a {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#boxx3 {
    width: 310px;
    border: 1px solid rgb(184, 182, 182);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    left: 680px;
}

#boxx3.animateTen34b {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#boxx4 {
    width: 310px;
    border: 1px solid rgb(184, 182, 182);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    left: 1020px;

}

#boxx4.animateTen34c {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#boxx5 {
    width: 310px;
    border: 1px solid rgb(184, 182, 182);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    left: 1360px;

}

#boxx5.animateTen34d {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.revol1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.revol1.animateTen47 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.revol2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 15px;
    color: rgb(207, 206, 206);
}

.revol2.animateTen48 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.revol3 {
    width: 210px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    background-color: rgb(158, 235, 44);
    margin-top: 20px;
}

.revol3.animateTen49 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.revol4 {
    background: linear-gradient(360deg, rgb(1, 34, 1), rgba(59, 59, 59, 0.5)), url("./images/herds7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 70px;
    padding-left: 40px;
}

.revol4.animateTen50 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.freq1 {
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.freq1.animateTen51 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.freq2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 15px;
}

.freq2.animateTen35 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 4s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq1 {
    display: flex;
    gap: 390px;
    background-color: rgb(243, 241, 241);
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}

.faq1.animateTen36 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.faq1 p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.faq1 p.animateTen37 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq1.actice i {
    transform: rotate(180deg);
}

.faq1.active i ::before {
    content: "\f106";
}

.faq2 {
    display: flex;
    gap: 440px;
    background-color: rgb(243, 241, 241);
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}

.faq2.animateTen38 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq2 p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.faq3 {
    display: flex;
    gap: 452px;
    background-color: rgb(243, 241, 241);
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}

.faq3.animateTen39 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq3 p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.faq4 {
    display: flex;
    gap: 438px;
    background-color: rgb(243, 241, 241);
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}

.faq4.animateTen40 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.faq4 p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.faq5 {
    display: flex;
    gap: 436px;
    background-color: rgb(243, 241, 241);
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}

.faq5.animateTen41 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.box15 {
    display: flex;
    gap: 60px;
    margin-top: 40px;
}


.faq5 p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.faq6 {
    display: flex;
    gap: 448px;
    background-color: rgb(243, 241, 241);
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}

.faq6.animateTen42 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 4s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.faq6 p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.faq7 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(243, 241, 241);
    width: 620px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-bottom: 10px;
    display: none;
}

.faq7.animateTen43 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 3s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.faq {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.faq8 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: bold;
}

.faqBtn {
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: none;
    background-color: rgb(158, 235, 44);
    font-weight: bold;
}

.faqBtn.animateTen44 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 3s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.faqBtn:hover {
    background-color: rgb(197, 236, 139);
    cursor: pointer;
}

.connect1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(202, 200, 200);
}

.connect1.animateTen45 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 3s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wwhole {
    padding-bottom: 40px;
}

.test1 {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.connect2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
}

.connect2.animateTen64 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect3 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 200, 200);
}

.connect3.animateTen65 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.connect6.animateTen47 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect7 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    color: rgb(202, 200, 200);
}

.connect7.animateTen66 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(158, 235, 44);
    text-align: center;
    padding: 6px;
    margin-bottom: 9px;
}

.connect5.animateTen67 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.line {
    width: 90px;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.line.animateTen68 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer2 {
    display: flex;
    gap: 180px;
    justify-content: center;
}

.footer2.animateTen69 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer3 {
    display: flex;
    gap: 60px;
}

.connect8 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(158, 235, 44);
}

.connect8.animateTen70 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect9 button {
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.connect9.animateTen71 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect9 button:hover {
    border-bottom: 2px solid rgb(158, 235, 44);
    height: 40px;
    cursor: pointer;
}

.connect9 {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.connect10 p {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(158, 235, 44);
    text-align: center;
    padding: 6px;
}

.connect10 p.animateTen72 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect10 {
    display: flex;
    gap: 10px;
}

.footer4 {
    display: flex;
    gap: 300px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.line2 hr {
    width: 1170px;
}

.line2 hr.animateTen73 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.line2 {
    display: flex;
    justify-content: center;
}

.footer5 {
    display: flex;
    gap: 700px;
    justify-content: center;
    font-size: 15px;
    padding-top: 20px;
    color: rgb(202, 200, 200);
}

.footer5.animateTen74 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    background-color: rgb(3, 37, 3);
    padding-top: 70px;
    padding-bottom: 30px;
    margin-top: 20px;

}

.dropdown-menu {

    height: 0;
    width: 300px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 15px;
    overflow: hidden;



}

.dropdown-menu.open {
    height: 540px;
}

.toggle-btn i {

    cursor: pointer;
    display: none;

}




@media (max-width: 400px) {

    .navBtn2 a,
    .navBtn3 button {
        display: none;
    }

    .barBtn {
        display: flex;
        gap: 140px;
        justify-content: center;
        padding-left: 20px;

    }

    .navbar {
        justify-content: left;
    }

    .navBtn1 {
        font-size: 23px;
    }

    .img5 {
        position: absolute;
        width: 240px;
        background-color: rgb(191, 252, 100);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 20px;
        text-align: center;
        padding-left: 20px;
        left: 60px;
        font-weight: bold;
    }

    .happy {
        font-size: 50px;
    }

    .navbody2 {
        padding-left: 20px;
    }

    .box1 {
        width: 340px;
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
        border-radius: 20px;
        margin-top: 20px;
        backdrop-filter: blur(10px);
        box-shadow: green;
        box-shadow: 0px 0px 10px rgba(0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.4);
    }

    .stock2 {
        font-size: 27px;
    }

    .with {
        font-size: 11px;
    }

    .boxxp {
        display: block;
    }

    .boxxpp {
        display: flex;
        justify-content: center;
    }

    .boxp7 {
        margin-top: 30px;
    }

    .trad5 {
        display: block;
    }

    .trad {
        text-align: center;
    }

    .trad2 {
        font-size: 30px;
        text-align: center;
    }

    .trad3 {
        text-align: center;
    }

    .tt {
        display: flex;
        justify-content: center;
    }

    .icon7 {
        display: block;
    }

    .icon4 {
        width: 300px;
    }

    .icon5 {
        width: 300px;
        margin-top: 20px;
    }

    .icon6 {
        width: 300px;
        margin-top: 20px;
    }

    .iicon {
        display: flex;
        justify-content: center;
    }

    .bodyVideop1 {
        font-size: 30px;
    }

    .bodyVideop2 {
        font-size: 13px;
        text-align: center;
    }

    .bodyVideop5 video {
        width: 350px;

    }

    .bodyVideop3 {
        left: 330px;
        width: 50px;
    }

    .bodyVideop3 img {
        width: 40px;
    }

    .review {
        overflow: hidden;
        height: 250px;
    }

    .freq1 {
        font-size: 30px;
    }

    .freq2 {
        font-size: 14px;

    }

    .faq1 {
        width: 300px;
        gap: 90px;
    }

    .faq2 {
        width: 300px;
        gap: 140px;
    }

    .faq3 {
        width: 300px;
        gap: 150px;
    }

    .faq4 {
        width: 300px;
        gap: 135px;
    }

    .faq5 {
        width: 300px;
        gap: 135px;
    }

    .faq6 {
        width: 300px;
        gap: 145px;
    }

    .faq7 {
        width: 320px;
    }

    .footer2 {
        display: block;
        padding-left: 30px;

    }

    .footer3 {
        display: block;
        padding-top: 20px;
    }

    .line {
        border-left: none;
        border-bottom: 1px solid rgb(202, 200, 200);
        margin-top: 15px;
        width: 300px;
        margin-bottom: 20px;
    }

    .connect9 {
        display: none;
    }

    .footer4 {
        gap: 140px;
    }

    .line2 hr {
        width: 350px;
    }

    .footer5 {
        padding-left: 30px;
        display: block;
    }

    .footer5 p {
        font-size: 12px;
    }

    .dropdown-menu.open {

        background-color: rgb(50, 71, 50);
        padding-top: 90px;


    }

    .dropdown-menu.open button {
        border: none;
        background-color: transparent;
        margin-top: 45px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 300px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(158, 218, 70);

    }

    .dropdown-menu.open a {
        text-decoration: none;
        text-align: center;


    }

    .dropdown-menu.open button:hover {
        cursor: pointer;
        border: 1px solid rgb(158, 218, 70);
    }

    .dropdown-menu {
        display: block;
        margin-left: 90px;


    }

    .toggle-btn i {
        display: block;
        font-size: 20px;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 401px) and (max-width:470px) {

    .navBtn2 a,
    .navBtn3 button {
        display: none;
    }

    .barBtn {
        display: flex;
        gap: 160px;
        justify-content: center;
        padding-left: 20px;

    }

    .navbar {
        justify-content: left;
    }

    .navBtn1 {
        font-size: 23px;
    }

    .img5 {
        position: absolute;
        width: 240px;
        background-color: rgb(191, 252, 100);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 20px;
        text-align: center;
        padding-left: 20px;
        left: 60px;
        font-weight: bold;
    }

    .happy {
        font-size: 50px;
    }

    .navbody2 {
        padding-left: 20px;
    }

    .box1 {
        width: 340px;
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
        border-radius: 20px;
        margin-top: 20px;
        backdrop-filter: blur(10px);
        box-shadow: green;
        box-shadow: 0px 0px 10px rgba(0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.4);
    }

    .stock2 {
        font-size: 27px;
    }

    .with {
        font-size: 11px;
    }

    .boxxp {
        display: block;
    }

    .boxxpp {
        display: flex;
        justify-content: center;
    }

    .boxp7 {
        margin-top: 30px;
    }

    .trad5 {
        display: block;
    }

    .trad {
        text-align: center;
    }

    .trad2 {
        font-size: 30px;
        text-align: center;
    }

    .trad3 {
        text-align: center;
    }

    .tt {
        display: flex;
        justify-content: center;
    }

    .icon7 {
        display: block;
    }

    .icon4 {
        width: 300px;
    }

    .icon5 {
        width: 300px;
        margin-top: 20px;
    }

    .icon6 {
        width: 300px;
        margin-top: 20px;
    }

    .iicon {
        display: flex;
        justify-content: center;
    }

    .bodyVideop1 {
        font-size: 30px;
    }

    .bodyVideop2 {
        font-size: 13px;
        text-align: center;
    }

    .bodyVideop5 video {
        width: 350px;
    }

    .bodyVideop3 {
        left: 350px;
        width: 50px;
    }

    .bodyVideop3 img {
        width: 40px;
    }

    .review {
        overflow: hidden;
        height: 250px;
    }

    .freq1 {
        font-size: 30px;
    }

    .freq2 {
        font-size: 14px;

    }

    .faq1 {
        width: 300px;
        gap: 90px;
    }

    .faq2 {
        width: 300px;
        gap: 140px;
    }

    .faq3 {
        width: 300px;
        gap: 150px;
    }

    .faq4 {
        width: 300px;
        gap: 135px;
    }

    .faq5 {
        width: 300px;
        gap: 135px;
    }

    .faq6 {
        width: 300px;
        gap: 145px;
    }

    .faq7 {
        width: 320px;
    }

    .footer2 {
        display: block;
        padding-left: 30px;

    }

    .footer3 {
        display: block;
        padding-top: 20px;
    }

    .line {
        border-left: none;
        border-bottom: 1px solid rgb(202, 200, 200);
        margin-top: 15px;
        width: 300px;
        margin-bottom: 20px;
    }

    .connect9 {
        display: none;
    }

    .footer4 {
        gap: 180px;
    }

    .line2 hr {
        width: 360px;
    }

    .footer5 {
        padding-left: 30px;
        display: block;
    }

    .footer5 p {
        font-size: 12px;
    }

    .dropdown-menu.open {

        background-color: rgb(50, 71, 50);
        padding-top: 90px;


    }

    .dropdown-menu.open button {
        border: none;
        background-color: transparent;
        margin-top: 45px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 300px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(158, 218, 70);

    }

    .dropdown-menu.open a {
        text-decoration: none;
        text-align: center;


    }

    .dropdown-menu.open button:hover {
        cursor: pointer;
        border: 1px solid rgb(158, 218, 70);
    }

    .dropdown-menu {
        display: block;
        margin-left: 140px;


    }

    .toggle-btn i {
        display: block;
        font-size: 20px;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 471px) and (max-width :700px) {

    .navBtn2 a,
    .navBtn3 button {
        display: none;
    }

    .barBtn {
        display: flex;
        gap: 200px;
        justify-content: center;
        padding-left: 20px;

    }

    .navbar {
        justify-content: left;
    }

    .navBtn1 {
        font-size: 23px;
    }

    .img5 {
        position: absolute;
        width: 240px;
        background-color: rgb(191, 252, 100);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 20px;
        text-align: center;
        padding-left: 20px;
        left: 60px;
        font-weight: bold;
    }

    .happy {
        font-size: 50px;
    }

    .navbody2 {
        padding-left: 40px;
    }

    .box1 {
        width: 340px;
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
        border-radius: 20px;
        margin-top: 20px;
        backdrop-filter: blur(10px);
        box-shadow: green;
        box-shadow: 0px 0px 10px rgba(0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.4);
    }

    .stock2 {
        font-size: 27px;
    }

    .with {
        font-size: 11px;
    }

    .boxxp {
        display: block;
    }

    .boxxpp {
        display: flex;
        justify-content: center;
    }

    .boxp7 {
        margin-top: 30px;
    }

    .trad5 {
        display: block;
    }

    .trad {
        text-align: center;
    }

    .trad2 {
        font-size: 30px;
        text-align: center;
    }

    .trad3 {
        text-align: center;
    }

    .tt {
        display: flex;
        justify-content: center;
    }

    .icon7 {
        display: block;
    }

    .icon4 {
        width: 300px;
    }

    .icon5 {
        width: 300px;
        margin-top: 20px;
    }

    .icon6 {
        width: 300px;
        margin-top: 20px;
    }

    .iicon {
        display: flex;
        justify-content: center;
    }

    .bodyVideop1 {
        font-size: 30px;
    }

    .bodyVideop2 {
        font-size: 13px;
        text-align: center;
    }

    .bodyVideop5 video {
        width: 400px;
    }

    .bodyVideop3 {
        left: 400px;
        width: 50px;
    }

    .bodyVideop3 img {
        width: 40px;
    }

    .review {
        overflow: hidden;
        height: 200px;
    }

    .freq1 {
        font-size: 30px;
    }

    .freq2 {
        font-size: 14px;

    }

    .faq1 {
        width: 300px;
        gap: 90px;
    }

    .faq2 {
        width: 300px;
        gap: 140px;
    }

    .faq3 {
        width: 300px;
        gap: 150px;
    }

    .faq4 {
        width: 300px;
        gap: 135px;
    }

    .faq5 {
        width: 300px;
        gap: 135px;
    }

    .faq6 {
        width: 300px;
        gap: 145px;
    }

    .faq7 {
        width: 320px;
    }

    .footer2 {
        display: block;
        padding-left: 30px;

    }

    .footer3 {
        display: block;
        padding-top: 20px;
    }

    .line {
        border-left: none;
        border-bottom: 1px solid rgb(202, 200, 200);
        margin-top: 15px;
        width: 300px;
        margin-bottom: 20px;
    }

    .connect9 {
        display: none;
    }

    .footer4 {
        gap: 230px;
    }

    .line2 hr {
        width: 425px;
    }

    .footer5 {
        padding-left: 30px;
        display: block;
    }

    .footer5 p {
        font-size: 12px;
    }

    .dropdown-menu.open {

        background-color: rgb(50, 71, 50);
        padding-top: 90px;


    }

    .dropdown-menu.open button {
        border: none;
        background-color: transparent;
        margin-top: 45px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 300px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(158, 218, 70);

    }

    .dropdown-menu.open a {
        text-decoration: none;
        text-align: center;


    }

    .dropdown-menu.open button:hover {
        cursor: pointer;
        border: 1px solid rgb(158, 218, 70);
    }

    .dropdown-menu {
        display: block;
        margin-left: 190px;


    }

    .toggle-btn i {
        display: block;
        font-size: 20px;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
    }

}

@media (min-width: 701px) and (max-width:1200px) {

    .navBtn2 a,
    .navBtn3 button {
        display: none;
    }

    .barBtn {
        display: flex;
        gap: 500px;
        justify-content: center;
        padding-left: 20px;

    }

    .navbar {
        justify-content: left;
    }

    .dropdown-menu.open {

        background-color: rgb(50, 71, 50);
        padding-top: 90px;


    }

    .trad5 {
        gap: 20px;
    }

    .icon7 {
        gap: 10px;
    }

    .bodyVideop4 {
        width: 600px;
        left: 120px;
    }

    .dropdown-menu.open button {
        border: none;
        background-color: transparent;
        margin-top: 45px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 300px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(158, 218, 70);

    }

    .dropdown-menu.open a {
        text-decoration: none;
        text-align: center;


    }

    .dropdown-menu.open button:hover {
        cursor: pointer;
        border: 1px solid rgb(158, 218, 70);
    }

    .dropdown-menu {
        display: block;
        margin-left: 520px;


    }

    .toggle-btn i {
        display: block;
        font-size: 25px;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
    }

    .footer2 {
        display: block;
        padding-left: 30px;

    }

    .footer3 {
        display: block;
        padding-top: 20px;
    }

    .line {
        border-left: none;
        border-bottom: 1px solid rgb(202, 200, 200);
        margin-top: 15px;
        width: 300px;
        margin-bottom: 20px;
    }

    .connect9 {
        display: none;
    }

    .footer4 {
        gap: 580px;
    }

    .line2 hr {
        width: 760px;
    }

    .footer5 {
        padding-left: 30px;
        gap: 400px;
    }

    .footer5 p {
        font-size: 12px;
    }

    .bodyVideop3 {
        left: 660px;
    }

}